:root { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
} 

.header1 {
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 20px;
    margin-right: 100px;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 0px;
    margin-left: 20px;
}

.nav {
    margin-top: 30px;
    size: 40px;
}

.link {
    margin-left: 30px;
}

.link1 {
    margin-left: 520px;
}

.main1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 0px;
    grid-row: inherit;
    margin-bottom: 50px;
}

.main2 {
    margin-bottom: 50px;
}

.subheading3 {
    font-size: 40px;
    margin-left: 70px;
    margin-top: 100px;
}

.logo1 {
    height: 540px;
    width: 405px;
    margin-left: 70px;
    margin-right: 0px;
}

.paragraph1 {
    font-size: 25px;
    margin-right: 70px;
}

.subheading1 {
    font-size: 40px;
}

.paragraph2 {
    font-size: 25px;
    margin-right: 70px;
    margin-left: 70px;
}

.subheading2 {
    font-size: 40px;
    margin-left: 70px;
}
.logo2 {
    height: 640px;
    width: 480px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 0px;
}

.p7 {
    font-size: 20px;
}